.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: aliceblue;
    z-index: 50;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 30vw;
    padding: 16px;
    background: wheat;
    z-index: 100;
    box-shadow: turquoise;
}

.alert-box1 {
    text-align: right;
}